* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    height: 500px;
    width: 500px;
    display: grid;
    background-color: rgb(0, 136, 45, 0.4);
}

.square {
    border: black solid 0.1px;
    aspect-ratio: 1 / 1;
}
